*{font-family: "arial","Microsoft YaHei","微软雅黑";
	margin: 0px;
	padding: 0px;
}

.tablist {	
	position: absolute;
	width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.contact{
    z-index: 2;
    position: absolute;
    bottom: 20px;
    width: 540px;
	left: 50vw;
	margin-left:-270px; 
	text-align: center;
    background-color: rgba(0,0,0,0);
}

.contact section{
	font-size: 12px;
	color: rgba(255,255,255,.5);
	line-height: 36px;
	margin-left:10px;
	margin-right:10px;
	display: inline-block;
}

.QQ{
	line-height: 40px;
	width: 120px;
	height: 36px;
	border:  1px solid rgba(255,255,255,.5);
	border-radius: 10px;
	transition: .3s;
}

.QQ:hover{
	transform:scale(1.2);
	border:  1px solid rgba(255,255,255,1);
}

.qqicon{
	margin:0px 0px -10px -5px;
}

.githubicon{
	margin:0px 10px -6px 5px;
}

.point{
	font-weight: bold;
	color: rgba(255,255,255,.8);
}

.tabmenu {
    z-index: 2;
    padding: 0px;
    position: absolute;
    width: 1000px;
    height: 50px;
    top: 20px;
    left: 50%;
    margin-left: -500px;
    text-align: center;
    background-color: rgba(0,0,0,0);
}

.tabmenu a{
	text-decoration:none;
}

.nav01,.nav02,.nav03,.nav04{
    font-size: 16px;
    color: rgba(255,255,255,.6);
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    transition: .3s;
}

.botton01:hover .nav01{
	color: rgba(255,255,255,1);
	transform: scale(1.4);
}
.botton02:hover .nav02{
	color: rgba(255,255,255,1);
	transform: scale(1.4);
}
.botton03:hover .nav03{
	color: rgba(255,255,255,1);
	transform: scale(1.4);
}
.botton04:hover .nav04{
	color: rgba(255,255,255,1);
	transform: scale(1.4);
}

.one{
	width: 400vw;
}

#tab1:target .nav01{
	color: rgba(255,255,255,1);
	transform: scale(1.4);
}

#tab1:target .one{
    transform: translate(0vw);
    transition: .4s  ease-out;
}

#tab2:target .nav02{
	color: rgba(255,255,255,1);
	transform: scale(1.4);
}

#tab2:target .one{
    transform: translate(-100vw);
    transition: .4s  ease-out;
}


#tab2:target .com{
    opacity: 1;
    transform: translateY(-40px);
    transition: .4s  ease-out;
    transition-delay: .4s;
}
#tab2:target .mobile{
    opacity: 1;
    transform: translateY(-40px);
    transition: .4s  ease-out;
    transition-delay: .8s;
}
#tab2:target .more{
    opacity: 1;
    transform: translateY(-40px);
    transition: .4s  ease-out;
    transition-delay: 1.2s;
}

#tab3:target .nav03{
	color: rgba(255,255,255,1);
	transform: scale(1.4);
}

#tab3:target .one{
    transform: translate(-200vw);
    transition: .4s  ease-out;
}

#tab4:target .nav04{
	color: rgba(255,255,255,1);
	transform: scale(1.4);
}

#tab4:target .one{
    transform: translate(-300vw);
    transition: .4s  ease-out;
}


.window section{
	position: absolute;
	width: 500px;
	height: 120px;
	left: 50%;
	top: 50%;
	margin-top: -60px;
	margin-left: -250px;
}

.title{
	display: block;
	font-size:60px;
	color: #fff;
	line-height: 60px;
	text-align: center;
}

.hint{
	display: block;
	font-size:24px;
	color: #fff;
	line-height: 60px;
	text-align: center;
}


.window{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.window1{
    float: left;
    left: 0vw;
    background-color: #000;
}

.window2{
    left: 100vw;
    float: left;
    background: radial-gradient(#51a9b3,#15747f);
}

.window3{
    left: 200vw;
    float: left;
    background: radial-gradient(#b35267,#893749);
}

.window4{
    left: 300vw;
    float: right;
    background: radial-gradient(#217a4f,#105a36);
}

.design{
	position: absolute;
	left: 50%;
	margin-left: -480px;
	top: 50%;
	margin-top: -200px;
	width: 960px;
	height: 400px;
}

.com,.mobile,.more{
	float: left;
	opacity: 0;
	top: 200px;
	width: 320px;
	height: 400px;
}

.computer{
	margin: 40px;
}

.phone{
	margin: 40px;
}

.more a{
	text-decoration:none;
}

.com p,.mobile p{
	color: #fff;
	font-size: 32px;
	text-align: center;
	line-height: 36px;
}

.morebotton:hover{
	transform:scale(1.2);
}

.morebotton{
	margin: 275px auto 275px auto;
	width: 200px;
	height: 50px;
	border: #fff 1px solid;
	border-radius: 10px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	transition: .3s;
}

.iornman{
	position: absolute;
	width: 800px;
	height: 600px;
	left:50%;
	margin-left: -400px;
	top: 50%;
	margin-top: -300px;
}


.stake{
	position: absolute;
	width: 800px;
	height: 600px;
	animation: haha 10s infinite linear alternate;
} 
@keyframes haha{
	0%{transform: translate(0px , 2px)}
	15%{transform: translate(-2px , 2px)}
	20%{transform: translate(0px , 2px)}
	35%{transform: translate(-4px , -2px)}
	50%{transform: translate(0px , 2px)}
	60%{transform: translate(4px , 2px)}
	85%{transform: translate(-8px, 0px)}
	100%{transform: translate(0px , 2px)}
}

.bird{
	perspective: 600px;	
	transform-style: preserve-3d;
	position: absolute;
	width: 800px;
	height: 600px;
	animation: bird 10s infinite  linear alternate;
}

@keyframes bird{
	0%{transform: rotateY(0deg)rotateX(-1deg)}
	15%{transform: rotateY(-1deg)rotateX(-1deg)}
	20%{transform: rotateY(0deg)rotateX(-1deg)}
	35%{transform: rotateY(-2deg)rotateX(1deg)}
	50%{transform: rotateY(0deg)rotateX(-1deg)}
	60%{transform: rotateY(2deg)rotateX(-1deg)}
	85%{transform: rotateY(-4deg)rotateX(0deg)}
	100%{transform: rotateY(0deg)rotateX(-1deg)}
}

.box{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: rgba(0,0,0,0);
}


.wingsa{
	top:360px;
	left: 180px;
	transform-origin: 50% 50%;
	transform: translate3d(0px,0px ,140px)rotateX(-12deg)rotateY(-15deg);
}

.wingsb{
	top:355px;
	left: 190px;
	transform-origin: 50% 50%;
	transform: translate3d(0px,0px ,100px)rotateX(-12deg)rotateY(-15deg);	
}

.wingsc{
	top:172px;
	left: 365px;
	filter: blur(.5px);
	transform-origin: 50% 50%;
	transform: translate3d(0px,0px ,200px)rotateX(5deg)rotateY(5deg);	
}

.wingsd{
	top:182px;
	left: 370px;
	transform-origin: 50% 50%;
	transform: translate3d(0px,0px ,160px)rotateX(5deg)rotateY(5deg);	
}

.wingse{
	top:370px;
	left: 440px;
	filter: blur(.5px);
	transform-origin: 50% 50%;
	transform: translate3d(0px,0px ,120px)rotateX(-12deg)rotateY(15deg);	
}

.wingsf{
	top:365px;
	left: 425px;
	transform: translate3d(0px,0px ,80px)rotateX(-12deg)rotateY(15deg)scale(0.8);	
}

.wingsg{
	top: 450px;
	left: 270px;
	transform: translate3d(0px,0px ,80px)rotateX(-5deg)rotateY(-15deg);	
	stroke-dasharray: 0 300;
	stroke-dashoffset:0px;
	animation: miaobian 5s infinite ease-in ;
}
@keyframes miaobian{
	20%{fill:none;}
	40%{fill:#fff;}
	41%{fill:none;}
	42%{fill:#fff;}
	43%{fill:none;}
	44%{fill:#fff;}
	45%{fill:none;}
	50%{fill:none;}
	100%{fill:#fff;}	
}

.wingsh{
	top:235px;
	left: 215px;
	transform: translate3d(0px,0px ,150px)rotateX(-5deg)rotateY(-15deg);	
}

.wingsi{
	top:210px;
	left: 185px;
	transform: translate3d(0px,0px ,60px)rotateX(-5deg)rotateY(-15deg);	
	animation: bibi .2s infinite; 
}

.wingsj{
	width: 100px;
	height: 100px;
	filter: blur(30px);
	background-color: rgba(120,210,240,.1);
	transform: translate3d(240px,280px ,0px)rotateX(-5deg)rotateY(-15deg);
	animation: bibi .2s infinite; 
}

.arm{
	animation: bibi .4s ease-out infinite alternate; 
}

@keyframes bibi{
	from{opacity: 0}	
	to{opacity: 1}
}


.hehe{
	transform-origin: 47% 47%;
	animation: hehe  4s infinite ease-out alternate;
}
@keyframes hehe{
	0%{stroke:none;}
	1%{stroke:rgba(255,255,255,1)transform: rotate(0deg);}
	2%{stroke:none;}
	3%{stroke:rgba(255,255,255,1)}
	4%{stroke:none;}
	5%{stroke:rgba(255,255,255,1)}
	100%{transform: rotate(360deg);}
}


.anima01{
	transform-origin: 50% 50%;
	animation: zhengzhuan01 30s infinite ease-in ;
}
.anima02{
	transform-origin: 50% 50%;
	animation: fanzhuan01  20s infinite ease-out ;
}
@keyframes fanzhuan01{
	from{transform: rotate(0deg);}	
	to{transform: rotate(360deg);}
}
@keyframes zhengzhuan01{
	from{transform: rotate(0deg)}	
	to{transform: rotate(-360deg)}
}

